// ======================================================
// COLORS
// ======================================================
// scheme:
// $color-{type}-{state|modifier} = value
$color-default-text = #212126;
$color-default-background = #fff;
$color-text-description = lighten($color-default-text, 70%);
$color-placeholder = lighten($color-default-text, 80%);
$color-background-hover = lighten($color-default-text, 90%);
$color-black = #16161A;
$color-tag = #005AD9;
$color-label-light = #878B99;
$color-white = #fff;
$color-tag--hover = #406aff;
$color-error = #ff543d;

$color-light = {
  base: #ffffff,
}

$color-dark = {
  base: #000000,
  light: #505050,
}

$color-yellow = {
  base: #FFDD2D,
}

$color-blue = {
  base: #1976d2,
}

$color-map = {
  yellow: $color-yellow.base,
  blue: $color-blue.base,
}

$color-tree = {
  yellow: $color-yellow,
  blue: $color-blue,
}